VITE_SUPABASE_URL=https://icfbfhdfotxlgqdyxfav.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljZmJmaGRmb3R4bGdxZHl4ZmF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDc3ODEsImV4cCI6MjA5NTI4Mzc4MX0.UbveXlboVnWwo39Uj0OCj6Vv90ENgV5AAY0OYbkd32M
